.imgContainer {
  position: relative;
}
.bannerImg {
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;
  object-fit: cover;
  filter: brightness(50%);
}

.imgTextContainer {
  color: white;
  position: absolute;
  top: 24rem;
  left: 2rem;
}

.imgText {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.smallerText {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .imgTextContainer {
    color: white;
    position: absolute;
    top: 21rem;
    left: 4rem;
  }
  .imgText {
    font-size: 3rem;
    margin: 0;
    padding: 0;
  }

  .smallerText {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
